.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* Carousel*/
        
.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel .carousel-item video {
    width: auto;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.flex-center {
    color: #fff;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* navbar changes */

.navbar {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.btn-ptc {
  background-color: #45526E !important;
}

.btn-ptc:hover {
  background-color: #59698d !important;
}

.btn-ptc:focus {
  background-color: #59698d !important;
}

footer.page-footer {
    background-color: #1C2331;
}

.carousel-multi-item .carousel-indicators li {
    background-color: #1C2331;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #1C2331;
}

.md-form label.active {
    font-size: 0.8rem;
    transform: translateY(-85%);
}

input[type=date].invalid+label:after,
input[type=date]:focus.invalid+label:after, 
input[type=datetime-local].invalid+label:after, 
input[type=datetime-local]:focus.invalid+label:after, 
input[type=email].invalid+label:after, 
input[type=email]:focus.invalid+label:after, 
input[type=number].invalid+label:after, 
input[type=number]:focus.invalid+label:after, 
input[type=password].invalid+label:after, 
input[type=password]:focus.invalid+label:after, 
input[type=search-md].invalid+label:after, 
input[type=search-md]:focus.invalid+label:after, 
input[type=search].invalid+label:after, 
input[type=search]:focus.invalid+label:after, 
input[type=tel].invalid+label:after, 
input[type=tel]:focus.invalid+label:after, 
input[type=text].invalid+label:after, 
input[type=text]:focus.invalid+label:after, 
input[type=time].invalid+label:after, 
input[type=time]:focus.invalid+label:after, 
input[type=url].invalid+label:after, 
input[type=url]:focus.invalid+label:after, 
textarea.md-textarea.invalid+label:after, 
textarea.md-textarea:focus.invalid+label:after {
    white-space: nowrap;
    transform: translateY(-150%);
}